{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/movies/">Filme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/poll/">Abstimmung</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rules/">Regeln</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <p>Home View</p>
{% endblock %}