{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/movies/">Filme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/poll/">Abstimmung</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rules/">Regeln</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <br/>
    <h3 id="scrolling-wrapper-title">Aktuelle Woche (15.08-21.08)</h3>
        <div class="scrolling-wrapper">
            {% for movie in active_movie_list %}
                {% if movie.title %}
                    <div class="card container border-0 align-top">
                        <div class="row">
                            <a href={{ movie.information_url }}>
                                <img id="poster" src="{{ movie.image_url }}" alt="missing">
                             </a>
                        </div>
                        <div class="row">
                            <p class="movie_title">{{ movie.title }}</p>
                        </div>
                        <div class="row">
                            <p class="movie_runtime">{{ movie.runtime }}m</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    <br/>
    <h3>Vergangene Filmabende</h3>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Filme</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for movie_list in past_movie_list %}
            <tr>
            {% for element in movie_list %}
                <td>
                    {{element}}
                    {% if element.chosen %}
                        <svg width="10" height="20">
                            <circle cx="5" cy="5" r="5" fill="green"></circle>
                        </svg>
                    {% endif %}
                    {% if element.vetoed %}
                        <svg width="10" height="20">
                            <circle cx="5" cy="5" r="5" fill="red"></circle>
                        </svg>
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}