{% extends "base.html" %}

{% block title %}Poll{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/movies/">Filme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/poll/">Abstimmung</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rules/">Regeln</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <br/>
    <h3 id="scrolling-wrapper-title">15.08-21.08</h3>
    <br/>
    <form method="post">
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
        <table id="formset" class="form table table-dark table-striped">
        {% for form in formset.forms %}
            {% if forloop.first %}
                <thead>
                <tr>
                    <th scope="col">Teilnehmer</th>
                    <th scope="col">Mo</th>
                    <th scope="col">Di</th>
                    <th scope="col">Mi</th>
                    <th scope="col">Do</th>
                    <th scope="col">Fr</th>
                    <th scope="col">Sa</th>
                    <th scope="col">So</th>
                </tr>
                </thead>
            {% endif %}
            <tr class="{% cycle row1 row2 %}">
                    <td> {{ form.instance }} </td>
                    {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Speichern" class="btn btn-secondary">
    </form>

{% endblock %}
