{% extends "base.html" %}

{% block title %}Rules{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="/movies/">Filme</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/poll/">Abstimmung</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/rules/">Regeln</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <br/>
    <h3>Regeln</h3>
    <br/>

    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Allgemeine Regeln
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Jeder Teilnehmer hat das Recht sein Essen vor Beginn der Filmauswahl und vor Beginn des Films zuzubereiten. Dieses Recht verliert, wer 15 Minuten oder mehr nach der vereinbarten Zeit am Ort des Filmabends eintrifft.</li>
                <li class="list-group-item">Jeder Teilnehmer hat das Recht Kostproben vom Essen und Trinken aller anderen Teilnehmer zu erhalten.</li>
                <li class="list-group-item">Während des gesamten Filmabends ist das Schlafen verboten. Als Schlafen gilt jedes Schließen der Augenlider für mehr als fünf Sekunden.</li>
            </ol>
        </li>
        <li class="list-group-item">Filmauswahl
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Die Filmauswahl findet grundsätzlich am Ort des Filmabends nach Eintreffen aller Teilnehmer statt.</li>
                <li class="list-group-item">Durch einstimmigen Gruppenbeschluss kann die Auswahl unter Beachtung aller sonstigen Regeln auf einen früheren Zeitpunkt vorgezogen werden und die Auswahl zum Filmabend selbst entfällt.</li>
                <li class="list-group-item">Teilnehmer die deutlich später als die anderen erscheinen und damit den Beginn der Filmauswahl verzögern würden, verlieren das Recht auf Teilnahme an der Filmauswahl.</li>
                <li class="list-group-item">Jeder Teilnehmer hat das Recht einen oder mehrere Filme vorzuschlagen. Es ist auf gleichmäßige Verteilung der Vorschläge auf alle Teilnehmer zu achten. Die Vorschlagsabgabe ist freiwillig.</li>
                <li class="list-group-item">Lässt ein Vorschlag sich nicht durch Diskussion in der Gruppe einstimmig ablehnen oder bewilligen, hat jeder Teilnehmer die Möglichkeit, ein einziges Mal ein Veto gegen einen Film auszusprechen und ihn somit aus der Auswahl zu entfernen.</li>
                <li class="list-group-item">Ein abgegebenes Veto gilt automatisch für alle Pre- und Sequels eines Films, es sei denn der Vetogeber ist mit einem solchen einverstanden.</li>
                <li class="list-group-item">Jeder Teilnehmer darf nur ein Veto pro Filmabend abgeben, außer die Anzahl der Vetos pro Person wird durch einstimmige Gruppenentscheidung erhöht.</li>
                <li class="list-group-item">Ein abgegebenes Veto kann grundsätzlich nicht zurückgezogen werden, außer in Ausnahmefällen durch einstimmige Gruppenentscheidung.</li>
                <li class="list-group-item">Entscheidet sich mindestens die Hälfte der Teilnehmer gegen einen vorgeschlagenen Film, so ist er ohne die Notwendigkeit der Vetoabgabe abgelehnt.</li>
                <li class="list-group-item">Hat ein Teilnehmer einen vorgeschlagenen Film schon ganz oder zu großen Teilen gesehen, hat er das Recht diesen Film ohne Verbrauch seines Vetorechtes abzulehnen.</li>
            </ol>
        </li>
        <li class="list-group-item">Verhalten während des Films
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Wer während des Films vorsätzlich abgelenkt ist, z.B. durch Handynutzung oder das Führen von Gesprächen, hat sicherzustellen, dass er trotzdem dem Plot des Films folgen kann. Das Recht auf Pausierung oder Zurückspulen des Films wird nur durch Toilettengänge oder Unterbrechungen von außen, wie eingehende Anrufe, erlangt.</li>
                <li class="list-group-item">Die Nahrungsaufnahme während des Films hat in angemessener Zimmerlautstärke zu erfolgen, sodass sich kein Teilnehmer gestört fühlt.</li>
            </ol>
        </li>
    </ol>
{% endblock %}
