#scrolling-wrapper-title {
    padding: 0 10px 0 10px;
    margin: 0;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card {
    width: 250px;
    padding: 10px;
    display: inline-block;
    overflow-wrap: break-word;
    white-space:normal;
}

img {
    width: 250px;
}

.movie_title {
    font-weight: 700;
    margin: 0;
}

.movie_runtime {
    color: rgba(0,0,0,0.6);
    margin: 0;
}

@media only screen and (max-width: 600px) {
    img {
        width: 125px;
    }

    .card {
        width: 125px;
    }
}

.list-group, .list-group-item {
    border: 0;
}