{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <br/>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.password.id_for_label }}" class="form-label">Password: </label>
            <input id="{{ form.password.id_for_label }}" type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}